﻿@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

mainContainer {
    max-width: 1200px;
    margin: auto;
}

ul {
    list-style: none;
}

#container {
    margin:0 50px;
}

/*Header Styles*/
#header-styles {
    background-image: url('images/header.jpeg');
    background-size: cover;
    max-width: 100%;
}

/* Main Navigation Styles */
#main-nav-styles li {
    list-style: none;
}

#main-nav-styles li a {
     display: block;
     color: white;
     text-transform: uppercase;
     font-size: 1.4rem;
     font-weight: 300;
     letter-spacing: 1.4px;
     text-shadow: 0 2px 2px rgba(0,0,0,1);
}
#main-nav-styles li a:hover {
    font-weight: 400;

}

.codeConcept {
    background-color: #f2f2f7;
}

/*Main styles */
h1,
h2,
h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 300;
}

pre {
    font-size: 0.7rem;
}

figcaption {
    display: block;
}

/*Links Styles*/
.listStyle {
    margin: 50px 0;
    background-color: #ccccdd;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1.1px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #b0b0c1;
}

 .listStyle i {
        margin-right: 25px;
        font-size: 3rem;
        color: #4C4A8F;
 }

/*Footer Styles*/
footer {
    background-color: #4C4A8F;
    color: white;
    border-top: 5px double black;
    border-bottom: 5px double black;
}

 footer h3 {
        width: 100%;
        margin: 0;
        font-size: 1.2rem;
        text-align: center;
        font-weight: 300;
        letter-spacing: 1.1px;
        text-shadow: 0 1px 1px rgba(0,0,0,1);
        padding: 20px 0;
  }

/*Exclusive CSS Page styling*/
#box1 {
    margin-left: 20px;
    width: 250px;
    height: 250px;
    border: 3px solid #4C4A8F;
    position: relative;
    font-size: 0.9rem;
}

#minyBox {
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    background-color: #4C4A8F;
    position: absolute;
    white-space: pre-line;
    color: white;
    padding: 5px 0 0 5px;
}

#outsideBox {
    width: 100px;
    height: 100px;
    background-color: #4C4A8F;
    position: absolute;
    bottom: 10px;
    right: -30px;
    white-space: pre-line;
    color: white;
    padding: 5px 0 0 5px;
}

#css-box1 {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}
.codeblock{
    width: 100%;
}

a {
    color: #4C4A8F;
}

a:hover {
    opacity: 0.8;
}